{% extends 'legendary/base.html' %}

{% block content %}

<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Singleplayer</th>
        <th>Hero 1</th>
        <th>Hero 2</th>
        <th>Hero 3</th>
        <th>Hero 4</th>
        <th>Hero 5</th>
        <th>Mastermind</th>
        <th>Scheme</th>
        <th>Win</th>
    </thead>

    <tbody>
    {% for game in games %}
        <tr>
            <td class="text-left">
                {{ game.id }}</td>
            <td class="text-left">
                {% if game.single_player %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td> {{game.hero_1 }}</td>
            <td> {{game.hero_2 }}</td>
            <td> {{game.hero_3 }}</td>
            <td> {% if game.hero_4 %}
                    {{ game.hero_4 }}
                {% endif %}
            </td>
            <td> {% if game.hero_5 %}
                    {{ game.hero_5 }}
                {% endif %}
            </td>
            <td> {{game.mastermind }}</td>
            <td> {{game.scheme }}</td>
            <td class="text-left">
                {% if game.win %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<script>
    function ad_team_button() {
    location.href = '/legendary/games/add_game'
    }
</script>
<button class="btw btn-primary active" onclick="ad_team_button()">Add game</button>
{% endblock %}