{% extends 'legendary/base.html' %}

{% block content %}

<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Number of heroes</th>
    </thead>

    <tbody>
    {% for key, value in teams.items %}
        <tr>
            <td class="text-left">
                {{ key.id }}</td>
            <td class="text-left"><a href = "/legendary/teams/{{key.id}}">{{ key.name }}</a></td>
            <td> {{value}}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<script>
    function ad_team_button() {
    location.href = '/legendary/add_team'
    }
</script>
<button class="btw btn-primary active" onclick="ad_team_button()">Add team</button>
{% endblock %}